﻿#vtquangcaocenterhome1,#vtquangcaocenterhome2,#vtquangcaocenterhome3{
	/*background-color:#000;
	width: 100%;
	height: 200px;*/
}
#vtquangcaobottomhome{
	/*position: fixed;
	bottom: 0px;
	left: 0px;
	background-color:#000;
	width: 300px;
	height: 100px;
	z-index: 500;*/
}