.qcindexbox6{background-image: url("Images/QuangCao/qcsmartphone.jpg");}
.qcindexbox8{background-image: url("Images/QuangCao/banner-side-left-201x381-laptop-t1.jpg");}
.qcindexbox7{background-image: url("Images/QuangCao/banner-side-left-201x381-tablet-t1.jpg");}
.qcindexbox10{background-image: url("Images/QuangCao/banner-side-left-201x381-lpk-t12.jpg");}
.qcindexboxtop6{background-image:url("Images/QuangCao/s6-s6-edge-1185x60-2.jpg");height:60px;width:100%;}